<!-- Login section of the header -->
<h4><a href= "/urls/">TinyApp</a></h4>
<br>
<% if (!user) {%>
    <a href="/register"> Register | </a>
    <a href="/login"> Login </a>
<%} else { %>
  <form method="POST" action="/logout">
    Logged in as <%= user.email %>
    <button type="submit">Logout</button>
  </form> 
<%} %>
<hr>

