<!-- Login section of the header -->
<a href= "/urls/">TinyApp</a>
<% if (!user) {%>
  <form method="POST" action="/login">
    <input type="text" placeholder="email" name="email">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
    <a href="/register"> Register</a>
  </form> 
<%} else { %>
  <form method="POST" action="/logout">
    Logged in as <%= user.email %>
    <button type="submit">Logout</button>
  </form> 
<%} %>
<hr>

